<div class='row'>
<div class='col-md-6'>
    <h2>Platter</h2>
    {{#each platter}}
    <div class="card platter" data-id='{{id}}'>
        <div class="card-body"><form action='/devour/{{id}}'> 
            {{burger_name}} <button type="submit" class="btn btn-info">Consume Burger</button>
        </form></div>
    </div>
    {{/each}}
</div>
<div class='col-md-6' data-id='{{id}}'>
    <h2>Eaten</h2>
    {{#each devoured}}
    <div class="card eaten" data-id='{{id}}'>
        <div class="card-body">
            {{burger_name}}
        </div>
    </div>
    {{/each}}
</div>
</div>